@if (loading()) {
  <div class="loading">
    <mat-spinner></mat-spinner>
  </div>
} @else {
  <div class="list">
    <mat-list role="list">
      @for (spell of spellList(); track spell; let last = $last) {
        <mat-list-item role="listitem">
          <div matListItemTitle>{{ spell.name }}</div>

          <div matListItemMeta class="list-actions">
            <button mat-icon-button (click)="addToSpellbook(spell.index)">
              <mat-icon>add</mat-icon>
            </button>

            <a mat-icon-button [routerLink]="['spell', spell.index]">
              <mat-icon>launch</mat-icon>
            </a>
          </div>
        </mat-list-item>
        @if (!last) {
          <mat-divider></mat-divider>
        }
      }
    </mat-list>
  </div>
}
