@if (spellsResource.isLoading()) {
  <div class="container">
    <mat-spinner></mat-spinner>
  </div>
}

@if (spellsResource.error()) {
  <div class="container error">
    <mat-icon>report_problem</mat-icon>
    <p>There was a problem reading the spells</p>
  </div>
}

@if (spellsResource.value(); as spells) {
  @if (spells.length === 0) {
    <div class="container error">
      <mat-icon>report_problem</mat-icon>
      <p>You have no spells!</p>
    </div>
  } @else {
    <div class="list">
      <mat-list role="list">
        @for (spell of spells; track spell; let last = $last) {
          <mat-list-item role="listitem">
            <div matListItemTitle>{{ spell.name }}</div>
            <div matListItemMeta class="list-actions">
              <button mat-icon-button (click)="remove(spell.index)">
                <mat-icon>delete</mat-icon>
              </button>

              <a mat-icon-button [routerLink]="['/spell', spell.index]">
                <mat-icon>launch</mat-icon>
              </a>
            </div>
          </mat-list-item>
          @if (!last) {
            <mat-divider></mat-divider>
          }
        }
      </mat-list>
    </div>
  }
}
